.places {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); */
    gap: 80px;
    margin: 92px auto 0 auto;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
    }
}